@font-face {
    font-family: digitalFont;
    src: url(Fonts/digital-7.mono.ttf);
}

@font-face {
    font-family: anurati;
    src: url(Fonts/Anurati-Regular.otf);
}

@font-face {
    font-family: nebula;
    src: url(Fonts/Nebula-Regular.otf);
}

@font-face {
    font-family: elianto;
    src: url(Fonts/Elianto-Regular.ttf);
}


#calculator
{
    border : 4px #FAb464 double;
    background-color: #707d9d;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.display
{

    background-color: #354f52;
    /* border: 1.8px #0f0d35 double; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    border-radius: 10px;
    
}

h2
{
    font-family: anurati;
    color: #57370d;
    font-weight: bolder;
    text-shadow: 1px 1px 1px #FAb464;
}

.keys, .reset
{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    /* font-weight: bolder; */
    font-size: larger;
    color: #57370d;
}

.reset
{
    background-color: #7cf6fd;
    border-radius: 30px;
    font-family: nebula;
}


.keys
{
    background-color: #fcf9bf;
    border-radius: 20px;
    font-family: elianto;
    
}

.operation
{
    background-color: #b7b7a4;
}

.operation, .dot, .equals
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}



.display1
{
    font-family: digitalFont;
    text-align: right;

}

#show-typing
{
    font-size: 55px;
    margin-bottom: 25px;
    color: #cad2c5;
    
}

#show-typed
{
    font-size: 30px;
    color: #0f0d35;
    line-height: 25px;
}

#show-typing.finalAnswer
{
    color: #52b69a;
}